# Application Server
SERVER_PORT=8080

# Spring Mail SMTP Settings
SPRING_MAIL_HOST=smtp.example.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=your_smtp_username
SPRING_MAIL_PASSWORD=your_smtp_password
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true

# Sales Reports Settings
APP_REPORTS_DEFAULT_EMAILS=recipient1@example.com,recipient2@example.com

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_db_name
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
